.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/festive-christmas-cozy-atmosphere-with-home-decor-tangerines-wooden-background-home-comfort-concept_169016-4398.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 457px;
  height: auto;
  margin: 101px auto 60px 38px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  font-family: "Henny Penny";
  margin: 82px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: -47px 78px 45px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-group-1 {
    width: 539px;
    min-height: 423px;
    margin-top: -499px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    font-style: normal;
    margin-bottom: 50px;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    height: 45px;
    margin-right: 227px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 64px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-group-1 {
    width: 453px;
    min-height: 482px;
    margin-top: -598px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-right: 181px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-group-1 {
    min-height: 423px;
    width: 432px;
    margin-top: -495px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -24px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-group-1 {
    min-height: 500px;
    margin-top: -391px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 26px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 50px;
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: 70px;
  }

  .u-section-1 .u-btn-2 {
    margin: 20px auto 50px 0;
    padding: 10px 64px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 746px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 23px auto 41px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 712px;
}

.u-section-2 .u-shape-1 {
  width: 551px;
  height: 561px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  object-position: 70.03% 0%;
  width: 562px;
  height: 630px;
  margin: -509px auto 0 85px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 357px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 355px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-2 .u-group-1 {
  min-height: 273px;
  width: 319px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-2 .u-shape-1 {
    width: 454px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 55px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 25px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 340px;
  }

  .u-section-2 .u-group-1 {
    min-height: 267px;
    width: 399px;
    margin-top: -181px;
    margin-right: auto;
    margin-left: 375px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 647px;
  }

  .u-section-2 .u-shape-1 {
    width: 424px;
    height: 484px;
    margin-top: -54px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 527px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-group-1 {
    min-height: 216px;
    width: 432px;
    margin-top: -83px;
    margin-left: 288px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 700px;
  }

  .u-section-2 .u-shape-1 {
    width: 414px;
    height: 542px;
    margin-top: -58px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 31px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-group-1 {
    min-height: 244px;
    width: 409px;
    margin-top: -93px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 26px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 314px;
    height: 437px;
    margin-top: -50px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 381px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-group-1 {
    min-height: 218px;
    margin-top: -32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 23px;
    padding-right: 24px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 20px;
    margin-left: 1px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 469px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 319px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 27px;
  padding-right: 27px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 16px 0 0;
}

.u-section-3 .u-line-1 {
  width: 73px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 35px 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/b_prodotti127622rel04d88bda7fdb40ecb2594e35afd3d5fa.jpg");
  min-height: 319px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/366MetalTweedMentos.jpg");
  min-height: 319px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/1008157_1.jpg");
  min-height: 319px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 60px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-3 .u-line-1 {
    width: 46px;
  }

  .u-section-3 .u-image-1 {
    min-height: 350px;
  }

  .u-section-3 .u-image-2 {
    min-height: 350px;
  }

  .u-section-3 .u-image-3 {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2256px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-line-1 {
    width: 67px;
    height: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 562px;
  }

  .u-section-3 .u-image-2 {
    min-height: 549px;
  }

  .u-section-3 .u-image-3 {
    min-height: 549px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1613px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 36px;
    height: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 388px;
  }

  .u-section-3 .u-image-2 {
    min-height: 388px;
  }

  .u-section-3 .u-image-3 {
    min-height: 388px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1285px;
}

.u-section-4 .u-group-1 {
  min-height: 150px;
  width: 800px;
  margin: 75px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 15px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 15px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 104px 0;
}

.u-section-4 .u-image-1 {
  min-height: 399px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  min-height: 399px;
  background-image: url("images/3piececeramicdinnerwareset_580x.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  min-height: 399px;
  background-image: url("images/gbf.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  min-height: 399px;
  background-image: url("images/5cc9d211057959.560f093dd9160.jpg");
  background-position: 68.88% 50%;
}

.u-section-4 .u-image-5 {
  min-height: 399px;
  background-image: url("images/478579017_w0_h0_mebel_iz_fanery.jpg");
}

.u-section-4 .u-image-6 {
  min-height: 399px;
  background-image: url("images/Untitled4.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-4 .u-group-1 {
    width: 729px;
    margin-top: 78px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 105px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 327px;
  }

  .u-section-4 .u-image-2 {
    min-height: 327px;
  }

  .u-section-4 .u-image-3 {
    min-height: 327px;
  }

  .u-section-4 .u-image-4 {
    min-height: 327px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-5 {
    min-height: 327px;
  }

  .u-section-4 .u-image-6 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-4 .u-group-1 {
    width: 505px;
    margin-top: 90px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 165px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3278px;
  }

  .u-section-4 .u-group-1 {
    min-height: 154px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 486px;
  }

  .u-section-4 .u-image-2 {
    min-height: 486px;
  }

  .u-section-4 .u-image-3 {
    min-height: 485px;
  }

  .u-section-4 .u-image-4 {
    min-height: 486px;
  }

  .u-section-4 .u-image-5 {
    min-height: 486px;
  }

  .u-section-4 .u-image-6 {
    min-height: 485px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-4 .u-group-1 {
    min-height: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 327px;
  }

  .u-section-4 .u-image-2 {
    min-height: 327px;
  }

  .u-section-4 .u-image-3 {
    min-height: 327px;
  }

  .u-section-4 .u-image-4 {
    min-height: 327px;
  }

  .u-section-4 .u-image-5 {
    min-height: 327px;
  }

  .u-section-4 .u-image-6 {
    min-height: 327px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 559px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 62px 0 62px auto;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 435px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  margin: 45px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 45px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 435px;
}

.u-section-5 .u-shape-1 {
  width: 414px;
  height: 438px;
  margin: -116px 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 465px;
  height: 465px;
  margin-top: -398px;
  margin-right: 40px;
  margin-bottom: initial;
  margin-left: auto;
  object-position: 50% 0%;
  background-position: 50% 0%;
}

.u-section-5 .u-image-2 {
  width: 242px;
  height: 249px;
  margin-top: -202px;
  margin-right: auto;
  margin-left: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-5 .u-shape-1 {
    width: 341px;
    height: 463px;
  }

  .u-section-5 .u-image-1 {
    width: 403px;
    height: 383px;
    margin-top: -423px;
    margin-right: 33px;
    margin-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    width: 260px;
    margin-top: -146px;
    margin-bottom: 25px;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 40px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-5 .u-shape-1 {
    width: 310px;
    height: 424px;
  }

  .u-section-5 .u-image-1 {
    width: 349px;
    height: 344px;
    margin-top: -384px;
  }

  .u-section-5 .u-image-2 {
    width: 219px;
    height: 219px;
    margin-top: -101px;
    margin-bottom: 1px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 14px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 45px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-5 .u-shape-1 {
    width: 413px;
    height: 484px;
    margin-top: -139px;
  }

  .u-section-5 .u-image-1 {
    width: 407px;
    height: 378px;
    margin-top: -422px;
    margin-right: 56px;
  }

  .u-section-5 .u-image-2 {
    width: 232px;
    height: 249px;
    margin-top: -159px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 22px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-5 .u-shape-1 {
    width: 273px;
    height: 355px;
    margin-top: -67px;
  }

  .u-section-5 .u-image-1 {
    width: 261px;
    height: 268px;
    margin-top: -315px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-5 .u-image-2 {
    width: 177px;
    height: 177px;
    margin-top: -33px;
    margin-bottom: 28px;
  }
}.u-section-6 {
  min-height: 700px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/TomRaffield_furniturelArborArmchair3_2000x1240.jpg");
  background-position: 2.33% 50%;
  min-height: 700px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 351px;
}

.u-section-6 .u-image-2 {
  width: 260px;
  height: 267px;
  margin: 35px auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 351px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 45px;
  padding-right: 45px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 30px 0 0;
}

.u-section-6 .u-line-1 {
  width: 73px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px 212px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 35px 0 29px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 351px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 45px;
  padding-right: 45px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 30px 0 0;
}

.u-section-6 .u-line-2 {
  width: 73px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px 212px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 35px 0 29px;
}

.u-section-6 .u-image-3 {
  min-height: 351px;
  background-image: url("images/59d34f7d19b2d318004045a5d1116d78.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 645px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 645px;
    background-position: 17.58% 50%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-6 .u-image-2 {
    width: 214px;
    position: relative;
    margin-top: 42px;
    margin-bottom: 0;
    margin-left: 27px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 323px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 37px;
    padding-right: 37px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .u-section-6 .u-line-1 {
    width: 60px;
    margin-right: 134px;
  }

  .u-section-6 .u-text-2 {
    width: 194px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 323px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 37px;
    padding-right: 37px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .u-section-6 .u-line-2 {
    width: 60px;
    margin-right: 134px;
  }

  .u-section-6 .u-text-4 {
    width: 194px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .u-section-6 .u-image-3 {
    min-height: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 700px;
  }

  .u-section-6 .u-image-1 {
    min-height: 700px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-6 .u-image-2 {
    width: 321px;
    margin-bottom: 35px;
    margin-left: 21px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 350px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-text-1 {
    font-weight: 500;
    margin-top: 35px;
  }

  .u-section-6 .u-line-1 {
    width: 46px;
    margin-right: 308px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 35px;
    margin-left: 0;
    margin-right: 0;
    width: 354px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 350px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-text-3 {
    font-weight: 500;
    margin-top: 35px;
  }

  .u-section-6 .u-line-2 {
    width: 46px;
    margin-right: 308px;
  }

  .u-section-6 .u-text-4 {
    margin-bottom: 35px;
    margin-left: 0;
    margin-right: 0;
    width: 354px;
  }

  .u-section-6 .u-image-3 {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-2 {
    width: 429px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 51px;
    padding-right: 48px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-line-1 {
    width: 43px;
    margin-right: 555px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 30px;
    width: 541px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 358px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 51px;
    padding-right: 48px;
  }

  .u-section-6 .u-line-2 {
    width: 43px;
    margin-right: 554px;
  }

  .u-section-6 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-2 {
    width: 328px;
    margin-top: 41px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 48px;
    padding-right: 49px;
  }

  .u-section-6 .u-line-1 {
    width: 63px;
    height: 6px;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 343px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 117px;
  }

  .u-section-6 .u-line-2 {
    width: 63px;
    height: 6px;
    margin-right: 351px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-bottom: 40px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 516px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 213px;
  background-image: none;
}

.u-section-7 .u-image-1 {
  width: 233px;
  left: 60px;
  right: auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 213px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-2 {
  width: 233px;
  left: 60px;
  right: auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 213px;
  background-image: none;
}

.u-section-7 .u-image-3 {
  width: 233px;
  left: 64px;
  right: auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 213px;
  background-image: none;
}

.u-section-7 .u-image-4 {
  width: 233px;
  left: 60px;
  right: auto;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 213px;
  background-image: none;
}

.u-section-7 .u-image-5 {
  width: 233px;
  left: 60px;
  right: auto;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 213px;
  background-image: none;
}

.u-section-7 .u-image-6 {
  width: 233px;
  left: 60px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    width: 192px;
    left: 49px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 103px;
  }

  .u-section-7 .u-image-2 {
    left: 49px;
    width: 192px;
  }

  .u-section-7 .u-image-3 {
    width: 192px;
    left: 52px;
  }

  .u-section-7 .u-image-4 {
    width: 192px;
    left: 49px;
  }

  .u-section-7 .u-image-5 {
    width: 192px;
    left: 49px;
  }

  .u-section-7 .u-image-6 {
    width: 192px;
    left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 147px;
    left: 38px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    left: 38px;
    width: 147px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-image-3 {
    width: 147px;
    left: 40px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-image-4 {
    width: 147px;
    left: 38px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-image-5 {
    width: 147px;
    left: 38px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-7 .u-image-6 {
    width: 147px;
    left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 138px;
    left: 201px;
  }

  .u-section-7 .u-image-2 {
    left: 201px;
    width: 138px;
  }

  .u-section-7 .u-image-3 {
    width: 138px;
    left: 201px;
  }

  .u-section-7 .u-image-4 {
    width: 138px;
    left: 201px;
  }

  .u-section-7 .u-image-5 {
    width: 138px;
    left: 201px;
  }

  .u-section-7 .u-image-6 {
    width: 138px;
    left: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 116px;
    left: 112px;
  }

  .u-section-7 .u-image-2 {
    left: 112px;
    width: 116px;
  }

  .u-section-7 .u-image-3 {
    width: 116px;
    left: 112px;
  }

  .u-section-7 .u-image-4 {
    width: 116px;
    left: 112px;
  }

  .u-section-7 .u-image-5 {
    width: 116px;
    left: 112px;
  }

  .u-section-7 .u-image-6 {
    width: 116px;
    left: 112px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 689px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 74px auto 74px 0;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 284px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 27px;
  padding-right: 27px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 16px 0 0;
}

.u-section-8 .u-line-1 {
  width: 73px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  margin: 35px 0 14px;
}

.u-section-8 .u-image-1 {
  background-image: url("images/conceptwmodernchairwithwoodstructureandpolyurethaneseatbytonon.jpg");
  min-height: 284px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-2 {
  background-image: url("images/04_April_tables_white_15_700pixel_02_452x4522x.jpg");
  min-height: 287px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-3 {
  min-height: 287px;
  background-image: url("images/59d34f7d19b2d318004045a5d1116d78.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-image-4 {
  background-image: url("images/Photo_by_Antti_Pulli_ACOMBO_Natalie_WeinbergerElke_van_den_BergKiho_Kang_sm56f6ff363df78c78418e20491.jpg");
  background-position: 50% 50%;
  min-height: 571px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
  }

  .u-section-8 .u-line-1 {
    width: 60px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    font-style: normal;
    margin-bottom: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 319px;
  }

  .u-section-8 .u-image-2 {
    min-height: 334px;
  }

  .u-section-8 .u-image-3 {
    min-height: 334px;
  }

  .u-section-8 .u-image-4 {
    min-height: 653px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1737px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-8 .u-line-1 {
    width: 46px;
  }

  .u-section-8 .u-image-1 {
    min-height: 477px;
  }

  .u-section-8 .u-image-2 {
    min-height: 507px;
  }

  .u-section-8 .u-image-3 {
    min-height: 507px;
  }

  .u-section-8 .u-image-4 {
    min-height: 603px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2773px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: -22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-8 .u-line-1 {
    width: 43px;
  }

  .u-section-8 .u-text-2 {
    margin-bottom: 14px;
  }

  .u-section-8 .u-image-1 {
    min-height: 610px;
  }

  .u-section-8 .u-image-2 {
    min-height: 568px;
  }

  .u-section-8 .u-image-3 {
    min-height: 504px;
  }

  .u-section-8 .u-image-4 {
    min-height: 601px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 700px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-8 .u-line-1 {
    width: 36px;
  }

  .u-section-8 .u-image-1 {
    min-height: 426px;
  }

  .u-section-8 .u-image-2 {
    min-height: 467px;
  }

  .u-section-8 .u-image-3 {
    min-height: 441px;
  }

  .u-section-8 .u-image-4 {
    min-height: 401px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 250px;
}

.u-section-9 .u-group-1 {
  min-height: 200px;
  width: 800px;
  margin: 25px auto;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  font-weight: 400;
  margin: 30px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 660px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 505px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 474px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }
}